html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}


.IconButton{
transition: all 0.5s ease-in-out;
height: 3rem;
width: 3rem;
}
.IconButton:hover{
background-color: #c2c2c5 !important;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.TodoCard:hover{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.TodoCard{
padding: 0.5rem !important; 

transition: all 0.5s ease-in-out;
}
